---
import MainLayout from "../layout/main/main.astro";

const title = "About Us";
---

<MainLayout title={title} h1={title}>
  <h4>This is the about page</h4>
  <p>
    Ask to go outside and ask to come inside and ask to go outside and ask to
    come inside the dog smells bad. Lick butt and make a weird face. Toilet
    paper attack claws fluff everywhere meow miao french ciao litterbox.
  </p>
</MainLayout>
