---
import MainLayout from "../layout/main/main.astro";
---

<MainLayout h1="Home">
  <h4>This is home page</h4>
  <p>
    Warm up laptop with butt lick butt fart rainbows until owner yells pee in
    litter box hiss at cats scratch the box so loved it, hated it, loved it,
    hated it but need to check on human, have not seen in an hour might be dead
    oh look, human is alive, hiss at human, feed me.
  </p>
</MainLayout>
