@use "./variables.scss" as *;

.container {
  margin-top: $spacing-default;
}

nav {
  display: flex;
  margin-bottom: $spacing-larger;
  border-bottom: 1px solid var(--pico-contrast);
  padding-bottom: $spacing-smaller;

  li {
    list-style: none;

    &:not(:first-child) {
      margin-left: $spacing-default;
    }

    a {
      text-decoration: none;
    }
  }
}
