@use '../style/variables.scss' as *;

.auth-form {
  display: flex;
  justify-content: center;

  form {
    max-width: 480px;
    margin-top: 10%;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: $spacing-default;

    button {
      width: 110px;

      &:last-of-type {
        margin-left: $spacing-default;
      }
    }
  }
}
