---
import "../style/pico.scss";
import "../style/global.scss";

interface MainLayoutProps {
  title?: string;
  h1?: string;
}

const { title, h1 }: MainLayoutProps = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `Astro | ${title}` : "Astro"}</title>
  </head>
  <body>
    <div class="container">
      {h1 && <h1>{h1}</h1>}
      <nav>
        <li>
          <a class="contrast" href="/">Home</a>
        </li>
        <li>
          <a class="contrast" href="/about">About</a>
        </li>
        <!--Add more -->
      </nav>
      <slot />
    </div>
  </body>
</html>
